@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 23, 26;
  --background-rgb: 245, 248, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 